<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login Oficina</title>
    <link href="../static/css/styleLogin.css" rel="stylesheet">

</head>
<body style="margin:0%; background-color: darkslategray">

<div class="card" style="background-color: white">
    <h2 style="text-align: center; padding-top: 20px">Gestão Oficina</h2>

    <div class="icone-login">
                <span>
             <img src="../static/images/do-utilizador.png" height="30%" width="45%" ;></img>
        </span>
    </div>

    <div class="form-login">
        <div class="login-span">
            <span class="texto">Usuário</span>
            <input type="text">
        </div>
        <div class="login-span">
            <label class="texto">Senha</label>
            <input type="password">
        </div>
        <div class="div-btn-login">
            <button class="btn-login" >Login</button>
        </div>
        <a class="esqueci-senha" href="">Esqueci a senha</a>
    </div>


</body>

</html>